{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "generator-star-spacing": 0,
    "no-underscore-dangle": 0
  },
  "plugins": [
    "babel"
  ]
}
