language: node_js

node_js:
  - "0.12.0"
  - "4.2.6"
  - "5.0.0"

services:
  - mongodb

before_script:
  - npm install --quiet

script:
  - make compile test-cov

after_script:
  - npm install coveralls@2.10.0 && cat ./coverage/lcov.info | coveralls
