language: node_js

node_js:
  - "4"

services:
  - mongodb

before_script:
  - npm install --quiet

script:
  - make lint compile test-cov

after_script:
  - npm install coveralls@2.10.0 && cat ./coverage/lcov.info | coveralls
